backend/node_modules
backend/.env
frontend/node_modules
frontend/dist
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local
frontend/build
frontend/.env
frontend/.vercel
frontend/.vercelignore
frontend/.cache
frontend/.next
frontend/out
frontend/.turbo
frontend/.pnp.cjs
frontend/.pnp.loader.mjs